/* body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



html{
  background-color: rgb 39,65,86;
  
}

body {
    font-family: 'Paytone One', sans-serif;
    background-color:  #B3BFB8;
    
}

p{
  font-size: 18px;
  color: #000000;
}

h1{
    color: #000000;
    font-family: 'Paytone One', sans-serif;
    font-weight: bold;
    font-size: 55px;
    margin: 20px;
    text-align: center;
}

h3{
    font-family: 'Paytone One', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #000000;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  
    padding-left: 20px;
}

.emoji-card{
    background-color: #F0F7F4;
    width: 160px;
    text-align: center;
    padding: 50px 25px;
    margin: 20px;
    border-radius: 9px;
    box-shadow: 10px 10px 5px grey;
}


.emoji-icon{
    font-size: 60px;
    padding: 20px;
} */


/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    display: grid;
    place-items: center;
    background-color: white;
    min-height: 100vh;
}
.emoji-card{
    width: 350px;
    text-align: center;
    background-color: black;
    box-shadow: : 0 0 25 6 red;
    padding: 50 px 20px 30px;

}
h3{
    color: white;
}
.wrapper{
    height: 94px;
    width: 71px;
    top: 42%;
    overflow: hidden;
    position: absolute;
} */

